
altair==5.1.1



atomicwrites==1.4.0



branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.1

docstring-to-markdown @ file:///C:/b/abs_cf10j8nr4q/croot/docstring-to-markdown_1673447652942/work

folium==0.14.0
gitdb==4.0.10
GitPython==3.1.36


inflection==0.5.1

jsonschema-specifications==2023.7.1

markdown-it-py==3.0.0

mdurl==0.1.2

mypy-extensions==0.4.3

numpy==1.25.2

pandas==2.1.0

Pillow==9.5.0

ply==3.11

protobuf==4.24.3

pyarrow==13.0.0

pydeck==0.8.0

pyls-spyder==0.4.0
Pympler==1.0.1

PyQt5==5.15.7

PyQtWebEngine==5.15.4

python-lsp-jsonrpc==1.0.0

pytz-deprecation-shim==0.1.0.post0
pywin32==305.1

PyYAML==6.0

referencing==0.30.2

rich==13.5.2

rpds-py==0.10.3

smmap==5.0.0


streamlit==1.26.0
streamlit-folium==0.13.0
tenacity==8.2.3

toolz==0.12.0

tzdata==2023.3
tzlocal==4.3.1

validators==0.22.0

webencodings==0.5.1
whatthepatch @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e7bihs8grh/croots/recipe/whatthepatch_1661796085215/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wrapt @ file:///C:/Windows/Temp/abs_7c3dd407-1390-477a-b542-fd15df6a24085_diwiza/croots/recipe/wrapt_1657814452175/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
zipp @ file:///C:/b/abs_b9jfdr908q/croot/zipp_1672387552360/work
